{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["> 1%", "ie > 8"]
      },
      "modules": false
    }],
    "stage-2"
  ],
  "plugins": ["transform-runtime", ["component", [{
    "libraryName": "element-ui",
    "styleLibraryName": "theme-chalk"
  }]]]
}
