@charset 'utf-8';

.userbar {
  @include fixed(top 0 left 0 right 0);
  background: $brand-danger;
  font-size: 0.75rem;
  line-height: 1rem;
  padding: 0 1em;
  text-align: right;
  color: $white;

  i {
    color: $white;
    text-decoration: underline;
    font-style: normal;
    font-weight: bold;
    cursor: pointer;
  }

  &.active {
    background: $brand-success;
  }
}
